<div class="footer pm-fat-footer" style="text-align:center;color:#EAD2B0;">
	<br>
    &copy; 2022 CAFEPAS S.A.S. TODOS LOS DERECHOS RESERVADOS TULUA-COLOMBIA<br>
    <a class="terms" href="https://cafepas.com/politica" target="_blank">Pol&iacute;tica de Privacidad</a> |
    <a class="terms" href="https://cafepas.com/certificaciones" target="_blank">Terminos Legales</a> | 
    <a class="terms" href="https://cafepas.com/politica-de-tratamiento-de-datos-personales" target="_blank">Pol&iacute;ticas de Datos Personales</a> |
    <a class="terms" href="https://cafepas.com/politicas-de-etica-Empresarial-y-Antisoborno" target="_blank">pol&iacute;ticas de Ética Empresarial y Anti soborno</a> 
    <div id="firma"><a href="https://xignacv.com" target="_blank">Desarrollado por: Nelly Zamora</a></div>
    <br><br>
</div>
