div#firma{
  font-size: 10px;
  color: #EAD2B0;
  text-align: center;
}

div#firma a:hover{
	color:red;
}

.pm-fat-footer {
  background-image: url(../../../assets/images/Footer2.jpg);
  padding: 0px 0px;
  background-repeat: repeat-y;
  border-top: 10px solid #EAD2B0;
  padding-top: 10px;
}

.pm-fat-footer h6{
  color:#EAD2B0 !important;
}

.pm-fat-footer a{
  color:#EAD2B0;
}

.pm-fat-footer a:hover{
  text-decoration: underline!important;
}

.pm-fat-footer li{
  color:#EAD2B0;
}


.footer
{
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}